{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dogger &mdash; Mishra Family</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'blog/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    
  </head>

<body>

</body>
</html>